*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playpen Sans', sans-serif;
}

h1{
    color: #E53170;
    margin: 30px
}


h1, .align-center{
    text-align: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;;
}

.card{
    background-color: #0F0E17;
    width: calc((100% / 3) - 20px);
    height: 100px;
    float: left;
    margin:10px 10px;
    color:white
}


img{
    width: 100px;
    float: left;
    margin-right: 15px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.mail{
    font-size: 12px;
    color: #53b8fc; 
}

h3{
    margin-top:10px;
}