
/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

h1{
    color: #E53170;

}

/* CENTRATURA ELEMENTI */


p:first-child, h1{
    text-align: center;
    margin: 30px;
}

/* .container > p, h1{
    text-align: center;
    margin: 30px;
} */

.container{
    max-width: 1200px;
    margin: 0 auto;;
}

/* ----------------------

CREAZIONE COLONNE FLOAT 

.colums > * = TUTTI I FIGLI DIRETTI DI COLUMS
.colums > div > img = TUTTI GLI IMG, PRESENTI DENTRO AI DIV, PRESENTI DENTRO A COLUMS

-------------------------*/

.colums > *, .colums > div > img{
    float:left;
}

.colums > div{
    background-color: #0F0E17;
    width: calc((100% / 3) - 20px);
    margin:10px 10px;
    color:white;
    /* float: left; */
}

.colums > * > img{
    height: 100px;
    margin-right: 15px;
    /* float:left; */
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.colums > * > a{
    font-size: 15px;
    text-decoration: none;
    color:#53b8fc
}

h3{
    margin-top:10px;
}

